body {
  background-color: white;
  border: 5px solid black;
  padding: 20px;
  background-image: url('https://www.transparenttextures.com/patterns/black-lace.png');
  background-repeat: repeat;
  background-position: center;
}

h3 {
  color: black;
}
